<html>
<head>
</head>
<body style="align-items: center; justify-content: center; display: flex">
    <div style="width: 500px; height: 300px; text-align: center; justify-content: center; position: fixed">
        <p style="font-family: Impact, Haettenschweiler; font-size: 4em; color: dodgerblue">
            ANALYSIS COMPLTE
        </p>
        <form action="http://localhost:8080/search", method="get", class="box">
            <button formaction="http://localhost:8080/search", formmethod="get" style="background-color: white; border: dodgerblue; font-size: 1.2em; alignment: right; font-family: Impact, Haettenschweiler; color: dodgerblue">
                Back to the Search Page
            </button>
        </form>
    </div>
</body>
</html>