<html>
<head>
    <title>Find Image In Gallery</title>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

    <script>
        function imgbigview(a, b, c) {
            document.getElementById(b).getElementsByTagName("img")[0].src = a.src;
            if(document.getElementById(b).style.display == 'block') {
                document.getElementById(b).style.display = 'none';
            } else
                document.getElementById(b).style.display = 'block';
        }

        function hide(c) {
            document.getElementById(c).style.display = 'none';
        }
        function replaceAll(str, searchStr, replaceStr) {
            return str.split(searchStr).join(replaceStr);
        }
    </script>
    <style>
        body{
            background: white;
            margin-top: 30px;
            margin-bottom: 30px;
            height: 85%;
        }
        .top{
            width: 100%;
            height: 30px;
            position: fixed;
            top: 0;
            background-color: dodgerblue;
        }
        .img_box{
            background-color: #cee3fe;
            width: 100%;
            height: 90%;
            margin-top: 2%;
            display: inline-block;
            overflow: auto;
        }
        .img_obj{
            margin-left:10px;
            margin-top:5px;
            max-height: 200px;
            max-width: 200px;
            border: 1px solid dodgerblue;
            float: left;
            display: inline-block;
        }
        .box1{
            margin: 100px auto;
            width: 43%;
            height: 80%;
            position: relative;
            top: 10%;
            margin-top: 2%;
            display: inline-block;
            vertical-align: middle;
            text-align: left;
            font-size: 1.5em;
        }
        .box2{
            margin: 100px auto;
            width: 43%;
            height: 80%;
            position: relative;
            top: 10%;
            margin-top: 2%;
            display: inline-block;
            vertical-align: middle;
            text-align: left;
            font-size: 1.5em;
        }
        .vertical_bar{
            width: 6px;
            height: 75%;
            background-color: dodgerblue;
            position: relative;
            display: inline-block;
            margin-top: 8%;
            margin-left: 2%;
            margin-right: 2%;
            vertical-align: middle;
            horiz-align: center;
        }
        .result_tag{
            position: relative;
            font-size: 2.5em;
            color: dodgerblue;
            font-family: Impact, Haettenschweiler;
        }
        .title{
            vertical-align: middle;
            position: fixed;
            color: dodgerblue;
            font-size: 3.5em;
            text-decoration: underline;
            margin-top: 1%;
            margin-left: 2%;
            display: inline-block;
        }
        .tag_class{
            color: dodgerblue;
            font-size: 1.2em;
        }

        .container-1{
            width: 96%;
            height: 100%;
            top: 1%;
            position: fixed;
            display: inline-block;
            text-align: center;
        }
        .container-1 .icon{
            font-size: 23px;
            position: fixed;
            margin-top: 5px;
            margin-left: 220px;
            z-index: 1;
            color: dodgerblue;
            text-align: right;
        }
        .bottom{
            position:fixed;
            bottom: 0;
            width: 100%;
            height: 30px;
            background-color: dodgerblue;
        }

    </style>
</head>
<body>
<div class="top"></div>
<div class="title">
    <span style="font-family: Impact, Haettenschweiler">Search Result</span>
</div>
<div class="container-1">
    <div class="box1">
        <span class="tag_class">Object</span>
        <div class="img_box">
            <%for(var i=0; i<object_row.length;i++){%>
            <a><img class='img_obj' src="<%=object_row[i].replace("C:\\Users\\yjm6560\\Desktop\\yjm6560\\CE\\graduation_project\\SearchPicture\\web", "..")%>" onclick="imgbigview(this, 'bigimg'); return false;"  alt="이미지"/></a>
            <%}%>
        </div>
    </div>
    <div class="vertical_bar">

    </div>
    <div class="box2">
        <span class="tag_class">Text</span>
        <div class="img_box">
            <%for(var i=0; i<text_row.length;i++){%>
            <p><img class='img_obj' src="<%=text_row[i].replace("C:\\Users\\yjm6560\\Desktop\\yjm6560\\CE\\graduation_project\\SearchPicture\\web", "..")%>" onclick="imgbigview(this, 'bigimg'); return false;" alt="이미지"/></p>
            <!--           <p><img class='img_obj' src="<%=text_row[i]%>" onclick="window.open(this.src)" alt="이미지"/></p>-->
            <%}%>
        </div>
    </div>
        <div id="bigimg" style="display: none; position: fixed; left: 33%; top: 15%; overflow: hidden; border: 0px solid black; z-index: 3; text-align: center ">
            <img src="" style="border:1px solid blue; max-height: 75%; max-width: 50%; position: fixed;" onclick="hide('bigimg')"/>
        </div>
    </div>
<div class="bottom"></div>
<form action="http://localhost:8080/search", method="get", class="box", style="position: fixed; margin-left: 80%; top: 10%;">
    <button style="background-color: white; border: 2px solid dodgerblue; font-size: 1.2em; alignment: right; font-family: Impact, Haettenschweiler; color: dodgerblue">
        Back to the Search Page
    </button>
</form>
</body>
</html>